/Library
/obj
/Temp
/Assembly-CSharp.csproj
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp-Editor-vs.csproj
/Assembly-CSharp-vs.csproj
/Unity-PreventHideMethod.sln
/Unity-PreventHideMethod-csharp.sln
